<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- meta description -->
        <meta name="description" content="">
        <!-- site title-->
        <title><%= title %></title>
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link id="color-changer" rel="stylesheet" href="css/colors/color-0.css">
    </head>
    <style> 
      .ani::before {
            content: "";
            font-size: 100px;
            animation: animate 5s;
            /* padding-left: 10px; */
      }
  
      @keyframes animate {
          25% {
              content: "3";
          }
          50% {
              content: "2";
          }
          75% {
              content: "1";
          }
          100% {
              content: "0";
          }
      }
      .lds-dual-ring {
        display: inline-block;
        width: 300px;
        height: 80px; 
        margin-left: 100px;
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin-top: 50px; 
        margin-left: 115px;
        /* margin: 50px; */
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 2s linear infinite;
      }
      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <body>

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>


        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-welcome relative">
                    <!-- .close -->
                    <a href="/scenario2" class="page-close" onclick="leave()"><i class="tf-ion-close" style="font-size: 2em;"></i></a>
                    <!-- /.close -->

                    <!-- <div class="author-image-large">
                        <img src="img/author.png" alt="">
                    </div> -->
                    

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2><span class="primary"><%= target %>​</span> </h2>
                                </div>
                                
                            </div>
                            <div class="col-md-6 col-md-offset-3" style="margin-bottom: 50px;">
                                <video id="local"  width="320" height="240" autoplay></video>
                                <video id="remote"  width="320" height="240" autoplay></video>
                                <video id = 'aa' width="320" height="240"></video>
                            </div> 
                            
                            <div class="col-md-6 col-md-offset-3">
                                  <div class="text-center">
                                      <!-- <button onclick="start()" class="btn btn-primary btn-custom-border text-uppercase">開始唱歌</button> -->
                                      <button onclick="ready()" class="btn btn-primary btn-custom-border text-uppercase" id="button">準備好了</button>
                                  </div>  
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="text-center">
                                <span class="copyright hidden-xs">Copyright &copy; 2021 NYCU wirelab, All Rights Reserved.</span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery-validation.min.js"></script>
        <script src="js/form.min.js"></script>
        <script src="js/main.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script>
        <script>
          
          const target = '<%-title%>';
          //Selector for your <video> element
          const video = document.getElementById('local');
          const video2 = document.getElementById('remote');

          const socket = io({
            auth: {
              token: target
            }
          });

          //Core
          if (target == 'videoStream 1'){
            const peer = new Peer('ballgame', {
                          path: "/peerjs",
                          host: "/",
                          port: "8001",
                        });
            window.navigator.mediaDevices.getUserMedia({ video: true })
              .then(stream => {
                  video.srcObject = stream;
                  peer.on('call', call => {
                    call.answer(stream)
                  });
                  
                  video.onloadedmetadata = (e) => {
                      video.play();
                  };
                  socket.on('send', ()=>{
                    const call = peer.call('ballreview', stream);
                  });
                  
                  
              })
              .catch( () => {
                  alert('You have give browser the permission to run Webcam and mic ;( ');
              });
          }
          
          if(target == 'videoStream 2'){
            const peer = new Peer('ballreview', {
                          path: "/peerjs",
                          host: "/",
                          port: "8001",
                        });
            socket.emit(target);
            peer.on('call', call => {
              // call.answer(stream)
              call.on("stream", (userVideoStream) => {
                video2.srcObject = userVideoStream;
                video2.onloadedmetadata = (e) => {
                  video2.play();
                };
              });
            });
            // window.navigator.mediaDevices.getUserMedia({ video: true })
            //   .then(stream => {
                  
                  
                  
            //   })
            //   .catch( () => {
            //       alert('You have give browser the permission to run Webcam and mic ;( ');
            //   });
            
            
          }
          

        </script>
    </body>
</html>
